.logo {
  display: flex;
  align-items: center;
  background-color: transparent;
  width: 280px;

}

.imagem img {
  width: 90px;
  height: 90px;
}

.texto {
  padding-left: 15px;
  color: black;
  font-family: 'Lexend', sans-serif;
  font-size: 10px;
}

.texto h1 {
  color: black;
  font-weight: 500;
  padding-top: 15px;
  margin-bottom: -10px;
}

.texto p {
  font-size: 17px;
  font-weight: 300;
  padding-top: 15px;
  line-height: 1em;
  color: black;
}
