.Header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 80px;
    padding-left: 10px;
    padding-right: 90px;
    background-color: #fff;
    font-family: 'Lexend', sans-serif;
    padding-bottom: 5px;
    border-bottom: 1px #D5D5D5 solid;
    box-shadow: 0 6px 12px rgba(39, 39, 39, 0.12);
    /* SOMBRA INFERIOR */

}

.HeaderBarra {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10pxS;
}

.LogoTexto {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HeaderNav {
    flex: 1;
    font-weight: 100;
    
}

.HeaderNav ul {
    display: flex;
    list-style: none;
    margin-left: 70px;
    gap: 155px;
    justify-content: center;
}

.HeaderNav ul li {
    margin: 0;
    font-weight: 500;
    color: #151515;
    font-size: 18px;
    cursor: pointer;

}

.HeaderInstituicao {

    display: flex;
    align-items: center;

}

.HeaderInstituicao a {
    margin: 0;
    font-weight: 500;
    color: #151515;
    font-size: 18px;
    cursor: pointer;
}