.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding-left: 10px;
    padding-right: 90px;
    background-color: #fff;
    font-family: 'Lexend', sans-serif;
    padding-bottom: 5px;
    border-bottom: 1px #D5D5D5 solid;
    box-shadow: 0 6px 12px rgba(39, 39, 39, 0.12); /* SOMBRA INFERIOR */

}

.HeaderBarra {
    display: flex;
    align-items: center;
}

.HeaderNav {
    flex: 1;
    font-weight: 100;
}

.HeaderNav ul {
    display: flex;
    list-style: none;
    gap: 100px;
    margin: 0;
    margin-inline-start: 100px;
    margin-inline-end: 100px;
    padding: 0;
    justify-content: center;
}

.HeaderNav ul li {
    margin: 0;
    font-weight: 500;
    color: #151515;
    font-size: 18px;
    cursor: pointer;

}

.HeaderInstituicao {

    display: flex;
    align-items: center;
}

.HeaderInstituicao a {
    font-weight: 600;
    color: #151515;
    text-decoration: none;
}
