@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600&display=swap');

.Footer {
    background-color: #fff;
    font-family: 'Lexend', sans-serif;
    color: #151515;
    border-top: 1px #D5D5D5 solid;
    box-shadow: 0 -6px 12px rgba(39, 39, 39, 0.12); /* SOMBRA INFERIOR */
}

.Footer__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    padding-bottom: 60px;
    padding-top: 20px;
}

.Footer__brand{
    padding-left: 10px;
}

.Footer__partner{
    padding-right: 25px;
}

.Footer__brand,
.Footer__links,
.Footer__contact,
.Footer__partner {
    flex: 1;

}

.Footer__links h2,
.Footer__contact h2 {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
}

.Footer__links ul,
.Footer__contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Footer__links ul li,
.Footer__contact ul li {
    font-weight: 300;
    color: #4c4c4c;
}

.Footer__contact ul li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 300;
}

.Footer__contact ul li img {
    width: 20px;
    height: 20px;
}

.Footer__partner {
    display: flex;
    justify-content: flex-end;
}

.Footer__partner img {
    max-height: 90px;
    width: auto;
}

.Footer__bottom {
    padding: 1px;
    max-height: 2em;
    height: auto;
    padding-top: 0.4rem;
    text-align: center;
    margin: 0;
    font-size: 0.9rem;
    color: #4c4c4c;
    border-top: 1px #D5D5D5 solid;;
}

.Footer__bottom p {
    margin: 0;
}